<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" metadata-complete="false" version="4.0">
  <display-name>Join_Forward_Ver01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>memberServlet</servlet-name>
    <servlet-class>com.mem.controller.memberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet</servlet-name>
    <url-pattern>/Front_end/mem/mem.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DepServlet</servlet-name>
    <servlet-class>com.dep.controller.DepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepServlet</servlet-name>
    <url-pattern>/Front_end/dep/dep.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
</web-app>